
{% load static %}
<html>
<head>
<title>os</title>
<link rel='stylesheet' type='text/css' href="{% static 'os.css' %}">
</head>
<body>
<h1>Operating System</h1>
<div class='links'>
<a class='l l1' href='exps/exp1.pdf' target='_self'>experiment 1</a>
<a class='l l2' href='exps/exp2.pdf' target='_self'>experiment 2</a>
<a class='l l3' href='exps/exp3.pdf' target='_self'>experiment 3</a>
<a class='l l4' href='exps/exp4.pdf' target='_self'>experiment 4</a>
<a class='l l4' href='exps/exp5.pdf' target='_self'>experiment 5</a>
<a class='l l4' href='exps/exp6.pdf' target='_self'>experiment 6</a>
<a class='l l4' href='exps/exp7.pdf' target='_self'>experiment 7</a>
<a class='l l4' href='exps/exp8.pdf' target='_self'>experiment 8</a>
<a class='l l4' href='exps/exp9.pdf' target='_self'>experiment 9</a>
<a class='l l4' href='exps/exp10.pdf' target='_self'>experiment 10</a>
</div>
</body>

</html>