{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>

<body>
<div class='bub1'>
</div>
<div class='bub2'>
</div>
<div class='bub3'>
</div>
<div class='cont'>
<div class='box'>
<h1>HOME</h1>
</div>
<div class='c1'>
</div>
<div class='con'>
<a href='ai' target='_blank'><img src="{% static 'images/ai.png' %}" class= 'b bi1'  alt='ai' ></a>
<a href='os' target='_blank'><img src="{% static 'images/win.png' %}" class= 'b bi2' ></a>
<a href='dbms' target='_blank'><img class= 'b bi3' src="{% static 'images/db.png' %}" /></a>
<a href='r' target='_blank'><img class= 'b bi4' src="{% static 'images/rp.png' %}" /></a>
</div>
</div>
</body>

</html>